*.apk
*.pdf
*.pro.user
/Tools/
/sdcard/
/assets/
/unity/
*.a
*.so
*.dll
*.class
*.bat
*.sh
*.jar
*.obj
*.o
bin/
gen/
obj/
libs/
build/
appcompat_v7/
.metadata/
.settings/
.gradle/
.idea/
local.properties
gradlew
